In [1]:
a = 10 
if a == 11 :
    print("this is my first condition")

In [3]:
a = 10
if a >5 :
    pass

In [5]:
a = 10 
if a <8:
    print("print this if condition is true ")

In [7]:
a = 10
if a == 11:
    print("my condition is false")
else :
    print("print this ")

print this

In [9]:
a = 10 
if a == 12 :
    print("here we are trying to compare 10 with 12")
elif a ==10:
    print("we are trying to compare 10 with 11")
else :
    print("if all the blocks wil fail then do this ")

we are trying to compare 10 with 11

In [11]:
price = 500

if price > 500 : 
    print(" may b i wont be able to buy a jacket ")
elif price < 500 :
    print("i will be able to buy a jacket")
elif  price == 500 :
    print("for sure i will be able to buy")

else  :
    print("i dont know")

for sure i will be able to buy

In [13]:
price > 500

False

In [15]:
price < 500

False

In [17]:
 price == 500

True

In [19]:
l = [1,2,3,4,5,6]
2 in l

True

In [21]:
if 60 in l :
    print("try to perform a task ")
else :
    print("do not perform this task")

do not perform this task

In [23]:
60 in l

False

In [25]:
l

[1, 2, 3, 4, 5, 6]

In [27]:
if 10 in l :
    print("thy to do a addition")
elif 2 in l :
    print("try to do sub")
elif 3 in l :
    print("try to do mul")
if 4 in l :
    print("this is new statement")

try to do sub
this is new statement

In [29]:
a = 400

In [33]:
b = int(input(45))

45 45656

In [35]:
type(b)

int

In [39]:
price  = int(input())
if price  <500 :
    print("i will be able to buy something")
    if price < 400 :
        print("i will be able to buy a jacket")
    elif price < 300 :
        
        print("i will be able to buy a shirt")
        if price < 200 :
            print("i would like to do sometign")
    else :
        print("i wont be able to buy anyting")
else :
     print("i wont be able to buy anything with this price tag")
     if price >500:
        print("lets try someting else ")

 700

i wont be able to buy anything with this price tag
lets try someting else

In [41]:
marks = int(input())
if marks < 600:
    print("NO GRE")
    if marks < 500:
        print("TOFEL")
        if marks < 400:
            print("Try something else")
    else:
        print("YOU GOT TOFEL")
else:
    print("You got GRE congratulations")

 800

You got GRE congratulations

In [43]:
val  = float(input("enter a floating point number"))
if val >= 0 :
    if val == 0 :
        print("entered value is zero")
    else :
        print("enter value is a positive number ")
else :
    print("entered number is a negative number")

enter a floating point number 1

enter value is a positive number

In [45]:
a = 10
if a <10  and a == 10 :
    print("try to do someting ")

In [47]:
a = "namdev"
if a == "namdev" or a == "namdev":
    print("this is namdev ")

this is namdev

In [49]:
a = 10 
b = 11
c = 12
d = 13
if a == 9 or b == 11 and c == 12 and d ==13:
    print("lets do something")

lets do something

In [51]:
d = {'key1' :"value" , "key2" : "sudh" , "key3" : "iNeuron"}

In [53]:
if d['key1'] == "value" and d['key2'] == "Sudh" and d['key3'] == "iNeuron":
    print("all the values are verified ")
    print(d.values())
else :
    print("all the values are not verified ")

all the values are not verified

In [55]:
d['key1']

'value'

In [69]:
l = [1,2,3,4,5,"namdev" ,234.45]

In [71]:
l[0]

1

In [73]:
l[1]

2

In [75]:
l[2:5]

[3, 4, 5]

In [77]:
l

[1, 2, 3, 4, 5, 'namdev', 234.45]

In [79]:
for i in l :
    if type(i) == int or type(i) == float:
        print(i+1)
    elif type(i) == str:
        print(i + str(1))

2
3
4
5
6
namdev1
235.45

In [81]:
l

[1, 2, 3, 4, 5, 'namdev', 234.45]

In [83]:
a=[9, 8,7,6,5,4,3,2,10]
for i in a :
       print(i ,end=' ')

9 8 7 6 5 4 3 2 10

In [85]:
l

[1, 2, 3, 4, 5, 'namdev', 234.45]

In [87]:
l1 = []
for i in l :
    if type(i) == int:
        l1.append(i)

In [89]:
l1

[1, 2, 3, 4, 5]

In [91]:
for a in l:
    if type(a)==int:
        print(a+1)
    elif type(a)==str:
        print(a+str(1))
    elif type(a)==float:
        print(a+float(1))

2
3
4
5
6
namdev1
235.45

In [93]:
for i in l:
    if type(i)==int  or type(i) == float:
        print(i+1)
    elif type(i)== str:    
        print(i+ str(1))

2
3
4
5
6
namdev1
235.45

In [95]:
for i in l :
    if type(i) ==  int or type(i) == float :
        print(i+1) 
    elif type(i) == str:
        print(i + str(1))

2
3
4
5
6
namdev1
235.45

In [ ]:
list=[namdev,patange,suraj,deshmukh]
name=input("Enter a name:-")
while name!="namdev":
    list.append(name)
#print("Thanks for the confirmation")
    print(list)

In [ ]:
l = [1,2,3,4,5465,67,"namdev"]

In [ ]:
for i in l:
    if type(i)==str:
        if i=='d':
            break
        print(i)

In [ ]:
l = [1,2,3,4,'CK',2020.12]
for i in l:
    if type(i) == int :
        print(i+1)
    elif type(i) == str:
        print(i +str(1))
    elif type(i) == float:
        print(i + float(1))

In [ ]:
a = 10 
if a < 8 :
    print("print this if condition is true")